<div class="d-flex justify-content-center">
  <div class=" col-11 col-md-10">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-venda-heading" data-cy="VendaCreateUpdateHeading"><fa-icon icon="plus"></fa-icon> Nova venda</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3 position-relative">
          <div class="col-12">
            <div class="form-group">
              <label class="form-label" for="nome_field">Conta</label>
              <ng-select [items]="contasSharedCollection"
                         id="nome_field"
                         name="nome_field"
                         bindLabel="nome"
                         groupBy="equipe"
                         (change)="selectConta($event)"
                         formControlName="conta">
                <ng-template ng-optgroup-tmp let-item="item">
                  {{ item.equipe }}
                </ng-template>
              </ng-select>
            </div>
            <div class="card mt-3" *ngIf="contaSelecionada; else semContaSelecionada;">
              <div class="card-header">
                <h6>
                  Conta selecionada: {{ contaSelecionada?.nome }}
                  <button type="button" (click)="clearContaSelecionada()"
                          style="float: right"
                          class="btn btn-sm btn-danger">
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </h6>
              </div>
              <div class="card-body">
                <p><b>Equipe:</b> {{ contaSelecionada?.equipe }}</p>
                <p><b>Telefone:</b> {{ getContaTelefone | mask: '(00) 00000-0000' }}</p>
              </div>
            </div>
            <ng-template #semContaSelecionada>
              <div class="alert alert-info mt-3" role="alert">
                <fa-icon icon="info"></fa-icon>&nbsp;Atenção! Nenhuma conta foi selecionada. A venda precisa ser paga no ato.
              </div>
            </ng-template>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-12">
          <h2>Produtos</h2>
          <hr>
        </div>
        <div class="col-12 mb-3">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active" [class.active]="!categoriaProdutoSelecionada" for="option">
              <input type="radio" name="options" id="option" autocomplete="off" checked
                     style="display: none;"
                     [value]="undefined"
                     [(ngModel)]="categoriaProdutoSelecionada"
                     [ngModelOptions]="{standalone: true}"> TODOS
            </label>
            <ng-container *ngFor="let cat of categorias; let i = index;">
              <label class="btn btn-secondary"
                     for="option{{i}}"
                     [class.active]="categoriaProdutoSelecionada === cat">
                <input type="radio" name="options" id="option{{i}}" autocomplete="off"
                       style="display: none;"
                       [value]="cat"
                       [(ngModel)]="categoriaProdutoSelecionada"
                       [ngModelOptions]="{standalone: true}"> {{ cat }}
              </label>
            </ng-container>
          </div>
        </div>
        <div class="col-12 mb-3 position-relative">
          <div class="form-group">
            <label class="form-label" for="produto_field">Produtos</label>
            <ng-select groupBy="categoria" (change)="selectProduto($event)">
<!--              id="produto_field"-->
<!--              name="produto_field"-->
              <ng-option *ngFor="let p of filterProdutos" [value]="p">{{ p.nome }}</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="produtos-selecionados mt-2" *ngFor="let produtoVenda of vendaProdutos; let in = index">
        <div class="row">
          <div class="col-12 col-md-4">
            <label>Produto</label>
            <input type="text" class="form-control" readonly [value]="produtoVenda.produto?.nome">
          </div>
          <div class="col-12 col-md-2">
            <div class="form-group">
              <label>Quantidade</label>
              <input
                [(ngModel)]="produtoVenda.qtd"
                [ngModelOptions]="{standalone: true}"
                required
                min="0"
                class="form-control"
                name="qtde{{ in }}"
              />
            </div>
          </div>
          <div class="col-12 col-md-2">
            <div class="form-group">
              <label>Valor Unitário</label>
              <input
                [(ngModel)]="produtoVenda.valorUnitario"
                [ngModelOptions]="{standalone: true}"
                required
                min="0.1"
                class="form-control"
                name="valor{{ in }}"
                currencyMask
                [options]="{ prefix: 'R$ ', allowNegative: true }"
              />
              <p *ngIf="!produtoVenda.valorUnitario" class="text-danger">
                <small>*Campo obrigatório. </small>
              </p>
            </div>
          </div>
          <div class="col-12 col-md-2">
            <label>Valor Total</label>
            <h4 class="mt-2 mb-0"> {{ calcTotal(produtoVenda.valorUnitario, produtoVenda.qtd) }}</h4>
          </div>
          <div class="col-12 col-md-2 d-flex align-items-end">
            <button type="button" class="btn btn-outline-danger" title="Remover" (click)="remove(produtoVenda, in)">
              <fa-icon icon="times"></fa-icon>
              Excluir
            </button>
          </div>
          <div class="col-12">
            <hr>
          </div>
        </div>
      </div>
      <div class="row mb-4 mt-3">
        <div class="col-12">
          <h2>Total da venda: <b>{{ getValorTotal() }}</b></h2>
          <hr>
        </div>
      </div>
      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary"
                (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving || vendaProdutos.length === 0 || !validateProdutos()"
          class="btn btn-success"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Registrar venda</span>
        </button>
      </div>
    </form>
  </div>
</div>
