<div class="d-flex justify-content-center">
  <div class=" col-11 col-md-8">
    <div *ngIf="venda">
      <h2 data-cy="vendaDetailsHeading"><span>Venda</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ venda.id }}</span>
        </dd>
        <dt><span>Conta</span></dt>
        <dd>
          <span>{{ venda.conta?.nome }}</span>
        </dd>
        <dt><span>Observações</span></dt>
        <dd>
          <span>{{ venda.observacoes }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Voltar</span>
      </button>

      <button type="button" [routerLink]="['/venda', venda.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
      </button>
    </div>
  </div>
</div>
