<div>
  <h2 id="page-heading" data-cy="ContaHeading">
    <span>Contas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-conta"
        [routerLink]="['/conta/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Conta </span>
      </button>
    </div>
  </h2>
  <div class="row">
    <div class="col-12 col-sm-4">
      <label class="form-label">Equipe</label>
      <select class="form-control" [(ngModel)]="equipe" (change)="load()">
        <option [value]="null">TODOS</option>
        <option value="Animação">Animação</option>
        <option value="Canto">Canto</option>
        <option value="Círculos">Círculos</option>
        <option value="Comando Geral">Comando Geral</option>
        <option value="Cozinha">Cozinha</option>
        <option value="Equipe Dirigente">Equipe Dirigente</option>>
        <option value="Espiritualização">Espiritualização</option>
        <option value="Estacionamento">Estacionamento</option>
        <option value="Faxina">Faxina</option>
        <option value="Gráfica">Gráfica</option>
        <option value="Lanche">Lanche</option>
        <option value="Liturgia e Vigília">Liturgia e Vigília</option>
        <option value="Minimercado">Minimercado</option>
        <option value="Prover">Prover</option>
        <option value="Sala">Sala</option>
        <option value="Seguimista">Seguimista</option>
        <option value="Vigília Paroquial">Vigília Paroquial</option>
        <option value="Visitação">Visitação</option>
      </select>
    </div>

    <div class="col-12 col-sm-4">
      <label class="form-label">Situação</label>
      <select class="form-control" [(ngModel)]="situacao" (change)="load()">
        <option [value]="null">TODOS</option>
        <option value="PENDENTE">PENDENTE</option>
        <option value="PAGO">PAGO</option>
      </select>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="contas?.length === 0">
    <span>Nenhuma conta foi criada</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="contas && contas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
        <th scope="col" jhiSortBy="nome">
          <div class="d-flex">
            <span>Nome</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="status">
          <div class="d-flex">
            <span>Status</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="equipe">
          <div class="d-flex">
            <span>Saldo</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col text-right" style="max-width: 100px;"><fa-icon icon="phone"></fa-icon></th>
        <th scope="col text-right" style="max-width: 100px;">
<!--          <fa-icon icon="gear"></fa-icon>-->
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let conta of contas; trackBy: trackId" data-cy="entityTable">
        <td>
          <b>{{ conta.nome }}</b><br>
          <small>Equipe: {{ conta.equipe }}</small><br>
          <small>Telefone: {{ getTelefone(conta.telefone) | mask: '(00) 00000-0000' }}</small>
        </td>
        <td>
          <ng-container *ngIf="(!conta.status) || conta.status === 'PENDENTE'; else pago">
            <div class="badge badge-warning"><fa-icon icon="ban"></fa-icon>&nbsp;PENDENTE</div>
            <br>
            <button class="btn btn-sm btn-info" (click)="informarPagamento(conta)">Informar Pagamento</button>
          </ng-container>
          <ng-template #pago>
            <div class="badge badge-success"><fa-icon icon="check"></fa-icon>&nbsp;PAGO</div>
          </ng-template>
        </td>
        <td>{{ conta.saldoTotal | currency: 'BRL' }}</td>
        <td>
          <button *ngIf="conta.status !== 'PAGO'" (click)="getWppLink(conta)" class="btn btn-primary btn-sm">
            <fa-icon icon="phone"></fa-icon> Enviar Mensagem Whatsapp
          </button>
        </td>
        <td class="text-end">
          <div ngbDropdown class="btn-group">
            <button class="btn btn-secondary btn-sm" id="dropdownBasic1" ngbDropdownToggle>
              <span class="fa fa-gear"></span>
              <span class="d-none d-md-inline"></span> Opções
            </button>
            <div ngbDropdownMenu>
              <button type="submit" [routerLink]="['/conta', conta.id, 'view']"
                      class="btn btn-info btn-sm dropdown-item">
                <fa-icon icon="eye"></fa-icon>&nbsp;Visualizar
              </button>

              <button type="submit" [routerLink]="['/conta', conta.id, 'edit']"
                      class="btn btn-primary btn-sm dropdown-item">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;Editar
              </button>

              <button type="submit" (click)="delete(conta)"
                      class="btn btn-danger btn-sm dropdown-item"
                      *jhiHasAnyAuthority="'ROLE_ADMIN'">
                <fa-icon icon="times"></fa-icon>&nbsp;Remover
              </button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="contas && contas.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
