<div class="d-flex justify-content-center">
  <div class=" col-11 col-md-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-conta-heading" data-cy="ContaCreateUpdateHeading">Cadastro de Conta</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3 mt-3">
          <app-form-field [control]="getField('nome')" class="col-12 p-0">
            <label class="form-label" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome"/>
          </app-form-field>
        </div>

        <div class="row mb-3">
          <app-form-field [control]="getField('telefone')" class="col-12 p-0">
            <label class="form-label" for="field_telefone">Telefone</label>
            <input type="text" class="form-control" name="telefone" id="field_telefone" data-cy="telefone"
                   formControlName="telefone" mask="(00) 00000-0000" [specialCharacters]="['(', ')', ' ', '-']"
                   [dropSpecialCharacters]="true"/>
          </app-form-field>
        </div>

        <div class="row mb-3">
          <app-form-field [control]="getField('equipe')" class="col-12 p-0">
            <label class="form-label" for="field_equipe">Equipe</label>
            <select class="form-control" name="equipe" id="field_equipe" data-cy="equipe"
                    formControlName="equipe">
              <option value="Animação">Animação</option>
              <option value="Canto">Canto</option>
              <option value="Círculos">Círculos</option>
              <option value="Comando">Comando</option>
              <option value="Cozinha">Cozinha</option>
              <option value="Faxina">Faxina</option>
              <option value="Equipe Dirigente">Equipe Dirigente</option>
              <option value="Espiritualização">Espiritualização</option>
              <option value="Estacionamento">Estacionamento</option>
              <option value="Gráfica">Gráfica</option>
              <option value="Lanche">Lanche</option>
              <option value="Liturgia e Vigília">Liturgia e Vigília</option>
              <option value="Minimercado">Minimercado</option>
              <option value="Prover">Prover</option>
              <option value="Sala">Sala</option>
              <option value="Vigília Paroquial">Vigília Paroquial</option>
              <option value="Visitação">Visitação</option>
<!--              <option value="Comando">Comando</option>-->
<!--              <option value="Renovenista">Renovenista</option>-->
<!--              <option value="Animação">Animação</option>-->
<!--              <option value="Anjos">Anjos</option>-->
<!--              <option value="Canto">Canto</option>-->
<!--              <option value="Cara e Crachá">Cara e Crachá</option>-->
<!--              <option value="Coordenação Geral">Coordenação Geral</option>-->
<!--              <option value="Controle">Controle</option>-->
<!--              <option value="Intercessão">Intercessão</option>-->
<!--              <option value="Lanche">Lanche</option>-->
<!--              <option value="Marketing e Multimídia">Marketing e Multimídia</option>-->
<!--              <option value="SOS">SOS</option>-->
<!--              <option value="Renovendas">Renovendas</option>-->
<!--              <option value="Troca">Troca</option>-->
<!--              <option value="Virtudes">Virtudes</option>-->
            </select>
          </app-form-field>
        </div>

        <div class="row mb-3">
          <app-form-field [control]="getField('status')" class="col-12 p-0">
            <label class="form-label" for="field_status">Status</label>
            <select class="form-control" name="status" id="field_status" data-cy="status"
                    formControlName="status">
              <option value="PENDENTE">PENDENTE</option>
              <option value="PAGO">PAGO</option>
            </select>
          </app-form-field>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary"
                (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
