<div class="row">
  <div class="col-12">
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>
  </div>
  <div class="col-12 d-flex align-items-center justify-content-center flex-column">
    <span class="hipster img-fluid rounded"></span>
    <h2 class="display-4 mt-3">Segue-me 2024</h2>
    <button
      id="jh-create-entity"
      data-cy="entityCreateButton"
      class="btn btn-primary jh-create-entity btn-block w-100 mt-2 p-3"
      [routerLink]="['/venda/new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span> Registrar Nova Venda </span>
    </button>
    <button
      id="jh-create-entity-conta"
      data-cy="entityCreateButtonConta"
      class="btn btn-info jh-create-entity btn-block w-100 mt-2 p-3"
      [routerLink]="['/conta']"
    >
      <fa-icon icon="user"></fa-icon>
      <span> Todas as contas </span>
    </button>
  </div>
</div>
