<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-produto-heading" data-cy="ProdutoCreateUpdateHeading">Cadastro de Produto</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <app-form-field [control]="getField('nome')" class="col-12 p-0">
            <label class="form-label" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome"/>
          </app-form-field>
        </div>

        <div class="row mb-3">
          <app-form-field [control]="getField('valor')" class="col-12 p-0">
            <label class="form-label" for="field_valor">Valor</label>
            <input type="text" currencyMask class="form-control" name="valor" id="field_valor" data-cy="valor"
                   formControlName="valor"/>
          </app-form-field>
        </div>

        <div class="row mb-3">
          <app-form-field [control]="getField('valor')" class="col-12 p-0">
            <label class="form-label" for="field_categoria">Categoria</label>
            <select class="form-control" name="categoria" id="field_categoria" data-cy="categoria"
                    formControlName="categoria">
              <option value="BEBIDA">BEBIDA</option>
              <option value="COMIDA">COMIDA</option>
              <option value="DOCE">DOCE</option>
              <option value="AVE_MARIA">AVE MARIA</option>
            </select>
          </app-form-field>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary"
                (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
